In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame({'c1' : ['a', 'a', 'b', 'a', 'b'],
                    'c2': [1, 1, 1, 2, 2],
                    'c3' : [1, 1, 2, 2, 2,]})

In [6]:
print(df)

  c1  c2  c3
0  a   1   1
1  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2

In [7]:
df_dup = df.duplicated()
print(df_dup)

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [8]:
col_dup = df['c2'].duplicated()

In [9]:
print(col_dup)

0    False
1     True
2     True
3    False
4     True
Name: c2, dtype: bool

In [10]:
df2 = df.drop_duplicates()
print(df2)

  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2

In [11]:
print(df)

  c1  c2  c3
0  a   1   1
1  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2

In [12]:
df3 = df.drop_duplicates(subset=['c2', 'c3'])
print(df3)

  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2

In [13]:
import seaborn as sns
df = sns.load_dataset('mpg')
df.columns = ['mpg', 'cylinders', 'displacement', 'HP', 'weight', 'acceleration', 'model_year', 'origin', 'name']

In [14]:
print(df.head(3))

    mpg  cylinders  displacement     HP  weight  acceleration  model_year  \
0  18.0          8         307.0  130.0    3504          12.0          70
1  15.0          8         350.0  165.0    3693          11.5          70
2  18.0          8         318.0  150.0    3436          11.0          70

  origin                       name
0    usa  chevrolet chevelle malibu
1    usa          buick skylark 320
2    usa         plymouth satellite

In [15]:
mpg_to_kpl = 1.60934 / 3.78541

In [16]:
df['kpl'] = df.mpg*mpg_to_kpl
print(df.head(3))

    mpg  cylinders  displacement     HP  weight  acceleration  model_year  \
0  18.0          8         307.0  130.0    3504          12.0          70
1  15.0          8         350.0  165.0    3693          11.5          70
2  18.0          8         318.0  150.0    3436          11.0          70

  origin                       name       kpl
0    usa  chevrolet chevelle malibu  7.652571
1    usa          buick skylark 320  6.377143
2    usa         plymouth satellite  7.652571

In [17]:
print(df['HP'].unique())

[130. 165. 150. 140. 198. 220. 215. 225. 190. 170. 160.  95.  97.  85.
  88.  46.  87.  90. 113. 200. 210. 193.  nan 100. 105. 175. 153. 180.
 110.  72.  86.  70.  76.  65.  69.  60.  80.  54. 208. 155. 112.  92.
 145. 137. 158. 167.  94. 107. 230.  49.  75.  91. 122.  67.  83.  78.
  52.  61.  93. 148. 129.  96.  71.  98. 115.  53.  81.  79. 120. 152.
 102. 108.  68.  58. 149.  89.  63.  48.  66. 139. 103. 125. 133. 138.
 135. 142.  77.  62. 132.  84.  64.  74. 116.  82.]