# 1. 데이터 과학자가 판다스를 배우는 이유

# 판다스 자료구조

## 2.1 시리즈

In [2]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-1.5.0-cp39-cp39-macosx_11_0_arm64.whl (10.9 MB)
     |████████████████████████████████| 10.9 MB 2.9 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.20.3 in /Users/seohuiwon/Library/Python/3.9/lib/python/site-packages (from pandas) (1.23.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/seohuiwon/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.4-py2.py3-none-any.whl (500 kB)
     |████████████████████████████████| 500 kB 3.8 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.15.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.5.0 pytz-2022.4
WARNING: You are using pip version 21.2.4; however, version 22.2.2 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
import numpy as np
import pandas as pd

In [4]:
# 딕셔너리 출력
dic = {'name' : 'Wonjun Kim', 'phone' : '010-1111-1111', 'bday' : '0923'}

In [5]:
dic

{'name': 'Wonjun Kim', 'phone': '010-1111-1111', 'bday': '0923'}

In [6]:
# 딕셔너리에 요소 추가해서 출력하기
dic_a = {1 : 'a', 2 : 'b'}
dic_a[3] = 'c'

In [8]:
dic_a

{1: 'a', 2: 'b', 3: 'c'}

In [9]:
dic_a['name'] = 'wonjun'

In [10]:
dic_a

{1: 'a', 2: 'b', 3: 'c', 'name': 'wonjun'}

In [11]:
# 딕셔너리에 요소 제거해서 출력하기
del dic_a[1]

In [12]:
dic_a

{2: 'b', 3: 'c', 'name': 'wonjun'}

In [2]:
# 판다스 불러오기
import pandas as pd

# k:v 구조를 갖는 딕너를 만들고 변수 diet_data에 저장
diet_data = {'a' : 1, "b" : 2, 'c':3}

# pandas Series()함수로 딕셔너리인 (dict_data)를 시리즈로 변환, 변수 sr에 저장
sr = pd.Series(diet_data)

# 변수 sr 의 자료형 출력
print(type(sr))
print("\n")

# 변수 sr에 저장되어 있는 시리즈 객체를 출력
print(sr)

<class 'pandas.core.series.Series'>


a    1
b    2
c    3
dtype: int64

In [3]:
# 리스트를 시리즈로 변환하여 변수 sr에 저장
list_data = ['2019-01-02', 3.14, 'ABC', 100 , True]
sr = pd.Series(list_data)
print(sr)
print("\n")

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object

In [4]:
# 인덱스 배열은 변수 idx에 저장, 데이터 값 배열은 변수 val에 저장
idx = sr.index
val = sr.values
print(idx)
print("\n")
print(val)

RangeIndex(start=0, stop=5, step=1)


['2019-01-02' 3.14 'ABC' 100 True]

In [5]:
# 튜플을 시리즈로 변환 (index 옵션에 인덱스 이름을 지정)
tup_data = ('동덕', '2020-02-34', '여', True)
sr = pd.Series(tup_data, index=['이름', '생년월일', '성별', '학생여부'])
print(sr)
print("\n")

이름              동덕
생년월일    2020-02-34
성별               여
학생여부          True
dtype: object

In [6]:
# 원소를 1개 선택
print(sr[0])
print(sr['이름'])
print('\n')

동덕
동덕

In [7]:
# 여러 개의 원소를 선택 (인덱스 리스트 활용하기)
print(sr[[1, 2]])
print("\n")
print(sr[['생년월일', '성별']])
print("\n")

생년월일    2020-02-34
성별               여
dtype: object


생년월일    2020-02-34
성별               여
dtype: object

In [8]:
# 여러 개의 원소를 선택 (인덱스 범위 지정)
print(sr[1 : 2])
print('\n')
print(sr['생년월일' : '성별'])

생년월일    2020-02-34
dtype: object


생년월일    2020-02-34
성별               여
dtype: object

## 2.2 데이터프레임

In [9]:
# 열 이름을 key로 하고 리스트를 value로 갖는 딕셔너리 정의
dict_data = {'c0' : [1, 2, 3], 'c1' : [4, 5, 6], 'c2' : [7, 8, 9], 'c3' : [10, 11, 12], 'c4' : [13, 14, 15]}

# 판다스 DataFrame() 함수로 딕셔너리를 데이터프레임으로 변환, 변수 df에 저장한다
df = pd.DataFrame(dict_data)

# df의 자료형 출력하기
print(type(df))
print('\n')

# 변수 df에 저장되어 있는 데이터프레임 객체 출력하기
print(df)

<class 'pandas.core.frame.DataFrame'>


   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [10]:
# 행 인덱스 / 열 이름 지정하여 데이터 프레임 만들기

df = pd.DataFrame([[15, '남', '덕동중'], [17, '여', '이치중']],
                    index = ['동덕', '문화'],
                    columns=['나이', '성별', '학교'])

# 행 인덱스, 열 이름 확인하기
print(df)
print("\n")
print(df.index)
print('\n')
print(df.columns)
print('\n')

    나이 성별   학교
동덕  15  남  덕동중
문화  17  여  이치중


Index(['동덕', '문화'], dtype='object')


Index(['나이', '성별', '학교'], dtype='object')

In [11]:
# 행 인덱스, 열 이름 변경하기
df.index = ['학생 1', '학생 2']
df.columns = ['연령', '남여', '소속']

print(df)
print("\n")
print(df.index)
print('\n')
print(df.columns)
print('\n')

      연령 남여   소속
학생 1  15  남  덕동중
학생 2  17  여  이치중


Index(['학생 1', '학생 2'], dtype='object')


Index(['연령', '남여', '소속'], dtype='object')

In [14]:
# 행 인덱스 / 열 이름 지정하여 데이터프레임 제작
df = pd.DataFrame([[15, '남', '덕동중'], [17, '여', '이치중']],
                    index = ['동덕', '문화'],
                    columns=['나이', '성별', '학교'])

# 데이터프레임 출력
print(df)
print("\n")

# 열 이름 중 '나이'를 연령으로, 성별을 '남여'로 '학교'를 소속으로 변경
df.rename(columns={'나이':'연령', '성별':'남여', '학교':'소속'}, inplace=True)

# df의 행 인덱스 중에서 '동덕'을 '학생1'로, '문화'를 '학생2'로 바꾸기
df.rename(index={'동덕':'학생1', '문화':'학생2'}, inplace=True)

# df 출력
print(df)

    나이 성별   학교
동덕  15  남  덕동중
문화  17  여  이치중


     연령 남여   소속
학생1  15  남  덕동중
학생2  17  여  이치중

In [19]:
# DataFrame()함수로 데이터프레임 변환, 변수 df 에 저장
exam_data = {'수학' : [90, 80, 70], '영어' : [98, 89, 95],
            '음악' : [85, 95, 100], '체육' : [100, 90, 90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
print(df)
print("\n")

# 데이터프레임 df를 복제하여 변수 df2에 저장, df2의 1개 행 삭제
df2 = df[:]
df2.drop('우현', inplace=True)
print(df2)
print("\n")

# 데이터프레임 df를 복제하여 변수 df3에 저장, df3의 2개 행 삭제
df3 = df[:]
df3.drop(['우현', '인아'], axis=0, inplace=True)
print(df3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90


    수학  영어  음악   체육
서준  90  98  85  100

/var/folders/78/c0mtglkd01qdvrc3g3x19nsc0000gn/T/ipykernel_3481/35680282.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop('우현', inplace=True)
/var/folders/78/c0mtglkd01qdvrc3g3x19nsc0000gn/T/ipykernel_3481/35680282.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop(['우현', '인아'], axis=0, inplace=True)

In [20]:
# DataFrame()함수로 데이터프레임 변환, 변수 df 에 저장
exam_data = {'수학' : [90, 80, 70], '영어' : [98, 89, 95],
            '음악' : [85, 95, 100], '체육' : [100, 90, 90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
print(df)
print("\n")

# 데이터프레임 df를 복제하여 변수 df4에 저장, df4의 1개 열 삭제
df4 = df.copy()
df4.drop('수학', axis=1, inplace=True)
print(df4)
print('\n')

# 데이터프레임 df를 복제하여 변수 df5에 저장, df5의 2개 열 삭제
df5 = df.copy()
df5.drop(['영어', '음악'], axis=1, inplace=True)
print(df5)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90


    수학   체육
서준  90  100
우현  80   90
인아  70   90