In [1]:
# 1-

def add_num():

IndentationError: expected an indented block (501718177.py, line 3)

In [2]:
import numpy as np
import pandas as pd

In [10]:
# 2
data = {'A' : [120, 1900, 18.3],
        'B' : [220, 2100, 19.2],
        }

In [11]:
data

{'A': [120, 1900, 18.3], 'B': [220, 2100, 19.2]}

In [60]:
data = np.array([[1, 2, 3, 4],
[13, 14, 15, 16],
[5, 6, 7 , 8],
[9, 10, 11,12]])

In [61]:
data

array([[ 1,  2,  3,  4],
       [13, 14, 15, 16],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [62]:
data[1::3, 1::3]

array([[14]])

In [16]:
from re import I


r = -50
i = 0
while i < 100:
    i += 1
    if i % 2 != 0:
        continue
    r += i

print(r)

2500

In [17]:
if < 18 :
    asdkjfhl
elif

SyntaxError: invalid syntax (53303672.py, line 1)

In [52]:
s = [10, 20, 30, 40, 50]

In [47]:
s[2] = 22,25

In [48]:
s

[10, 20, (22, 25), 40, 50]

In [50]:
s[2:] = [90]

In [51]:
s

[10, 20, 90]

In [53]:
s[2:3] = [22, 25]

In [54]:
s

[10, 20, 22, 25, 40, 50]

In [33]:
df1 = {'열A' : [15, 20, 50, np.nan, np.nan],
        '열B' : [100, 500, 200, 500, 200],
        '열C' : [1, 2, 3, 2, 3,]}

In [34]:
df1 = pd.DataFrame(df1)

In [35]:
df1

     열A   열B  열C
0  15.0  100   1
1  20.0  500   2
2  50.0  200   3
3   NaN  500   2
4   NaN  200   3

In [36]:
df2 = {'열A' : [10, 10, 10, 20, 30],
        '열B' : [100, 500, 200, 500, 200]}

In [37]:
df2 = pd.DataFrame(df2)

In [38]:
df1+df2

     열A    열B  열C
0  25.0   200 NaN
1  30.0  1000 NaN
2  60.0   400 NaN
3   NaN  1000 NaN
4   NaN   400 NaN

In [42]:
s

[10, 20, 22, 25, 40, 50]

In [44]:
s += [25, 30]

In [45]:
s

[10, 20, 30, 40, 50, 25, 30]

In [55]:
i = 0
for i in range(5):
    print("동덕여대")

동덕여대
동덕여대
동덕여대
동덕여대
동덕여대

In [56]:
i = 0
while i < 5:
    print('동덕여대')
    i += 1

동덕여대
동덕여대
동덕여대
동덕여대
동덕여대