In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
df = sns.load_dataset('mpg')

In [4]:
df.columns = ['mpg', 'cylinders', 'displacement', 'HP', 'weight', 'acceleration', 'model_year', 'origin', 'name']

In [5]:
df

,mpg,cylinders,displacement,HP,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [6]:
df['HP'].replace('?', np.nan, inplace = True)
df.dropna(subset = ['HP'], axis = 0, inplace = True)
df['HP'] = df['HP'].astype('float')

In [7]:
# describe함수 : 통계 요약 정보
print(df.HP.describe())

count    392.000000
mean     104.469388
std       38.491160
min       46.000000
25%       75.000000
50%       93.500000
75%      126.000000
max      230.000000
Name: HP, dtype: float64

In [8]:
df.HP = df.HP /abs(df.HP.max())

In [9]:
print(df.HP.head())

0    0.565217
1    0.717391
2    0.652174
3    0.652174
4    0.608696
Name: HP, dtype: float64

In [10]:
print(df.HP.describe())

count    392.000000
mean       0.454215
std        0.167353
min        0.200000
25%        0.326087
50%        0.406522
75%        0.547826
max        1.000000
Name: HP, dtype: float64

In [15]:
min_x = df.HP - df.HP.min()
min_max = df.HP.max() - df.HP.min()
df.HP = min_x / min_max

In [18]:
df.HP

0      0.456522
1      0.646739
2      0.565217
3      0.565217
4      0.510870
         ...
393    0.217391
394    0.032609
395    0.206522
396    0.179348
397    0.195652
Name: HP, Length: 392, dtype: float64

In [17]:
print(df.HP.head())
print(df.HP.describe())

0    0.456522
1    0.646739
2    0.565217
3    0.565217
4    0.510870
Name: HP, dtype: float64
count    392.000000
mean       0.317768
std        0.209191
min        0.000000
25%        0.157609
50%        0.258152
75%        0.434783
max        1.000000
Name: HP, dtype: float64