In [3]:
import pandas as pd
import numpy as np

In [28]:
# 1
list = []
def add_fun():
    for i in range(0,3):
        num = int(input("숫자를 넣어주세요 : "))
        list.append(num)
    sum = list[0] + list[1] + list[2]
    print("합계는 : ", sum)

add_fun()

합계는 :  6

In [8]:
# 2 
# (1)
data = {'A' : [120, 1900, 18.3],
        'B' : [220, 2100, 19.2],
        'C' : [120, 1500, 21.1],
        'D' : [200, 2900, 17.3]}

In [9]:
data = pd.DataFrame(data, index=['HP', 'Weight', 'Mpg'])

In [10]:
data

             A       B       C       D
HP       120.0   220.0   120.0   200.0
Weight  1900.0  2100.0  1500.0  2900.0
Mpg       18.3    19.2    21.1    17.3

In [12]:
data.loc['Com'] = 'Q'

In [29]:
data

             A       B       C       D
HP       120.0   220.0   120.0   200.0
Weight  1900.0  2100.0  1500.0  2900.0
Mpg       18.3    19.2    21.1    17.3
Com          Q       Q       Q       Q

In [21]:
# (3)
hp = data.loc['HP']

In [23]:
print(np.min(hp))

120.0